<h1>Photos</h1>
<table>
  <thead>
    <tr>
      <th>写真</th>
      <th>コメント</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= image_tag feed.image.url if feed.image && feed.image.url %></td>
        <td><%= feed.comment %></td>
        <td><%= link_to '詳細', feed %></td>
        <% if logged_in? && feed.user == current_user %>
          <td><%= link_to '編集', edit_feed_path(feed.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table><br>
