<h1>My favorites</h1>
<div class="content_blogs">
  <% @favorites.each do |favorite| %>
      <%= image_tag favorite.image.url if favorite.image && favorite.image.url %><br>
  <% end %>
</div>
<div class="links">
  <%= link_to '投稿一覧へ', feeds_path %>
</div>
