<div class="content_blogs">
  <strong>プロフィール:</strong>
  <%= @user.name %><br>
</div>
<div class="content_blogs">
  <%= image_tag (@user.image.url) if @user.image && @user.image.url %>
</div>
<div class="links">
  <% if @user.id == current_user.id %>
    <p><%= link_to '編集', edit_user_path(@user.id) %></p>
  <% end %>
  <p><%= link_to '一覧へ戻る', feeds_path %></p>
</div>
